* {
    text-decoration: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

.main-image {
    width: 60%;
}

.nav__item {
    display: inline-block;
    padding-left: 70px;
    font-weight: bold;
    color: red;
    font-family: "Montserrat";
  }

  .nav__item-link {
    color: red;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: bold;
}

.main-image-wrapper {
    text-align: center;
}

.container {
    display: inline-block;
    text-align: center;
} 

.main {
    display: inline-block;
    text-align: center;
}

.main_title {
    margin-top: 20px;
    padding: 30px;
}

.main__class {
    margin-top: 30px;
}

.main_title {
    display: inline-block;
    text-align: center;
    font-size: 40px;
}

.main__class {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    max-width: 70%;
    font-weight: 40;

}

.footer__copyright {
    text-align: right;
    margin: 50px 15px 10px 0;
    font-weight: 700;
  }

@font-face {
    font-family: "Montserrat" ;
    src: url("Montserrat/Montserrat-Regular.ttf");
}

.main__btn {
    padding: 10px 50px 10px 50px;
    font-weight: 700;
    background-color: red;
    color: rgb(255, 255, 255);
    border-color: red;
    border-width: 2px;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
}

.main__btn-wrapper {
    padding-top: 40px;
}